body {
    width: 100%;
    min-height: 400px;
}

#body-signin {
    width: 100%;
    height: 600px;
    display: flex;
    background-color: #f2f3f5;
    align-items: center;
    justify-content: center;
}


#sign-in {
    padding: 90px 75px;
    background-color: #fff;
    width: 100%;
    max-width: 600px;
}

.signin-heading {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.text-center {
    text-align: center;
    align-items: center;
}

.btn {
    text-align: center;
}
