@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Home/Home_Page_style.css">
<script rel ="styleseet" src="~/js/Home_Page_Script.js">

</script>
<!--slide_Show-->
<div class="nav-slideshow-container">
    <!--full img with number caption text-->
    <div class="slide-show fade">
        <div class="numbertext">1 / 3</div>
        <img src="~/img/slide_show/slide_show01.jpeg" style="width:100%">
        <div class="text">Caption Text</div>
    </div>

    <div class="slide-show fade">
        <div class="numbertext">2 / 3</div>
        <img src="~/img/slide_show/slide_show01.jpeg" style="width:100%">
        <div class="text">Caption Text</div>
    </div>

    <div class="slide-show fade">
        <div class="numbertext">3 / 3</div>
        <img src="~/img/slide_show/slide_show01.jpeg" style="width:100%">
        <div class="text">Caption Text</div>
    </div>

    <!--next and prv btn-->
    <a class="prev-btn" onlick="plusSlide(-1)">&#10094</a>
    <a class="next-btn" onlick="plusSlide(-1)">&#10095</a>
    <br>
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
</div>


